<!DOCTYPE html>
<html>
<title>GameDay Status Page</title>

<xmp theme="simplex" style="display:none;">
# So glad I did this.
I am so glad I deployed this sample app first. It's going to make the deployment of my next pieces of code SO MUCH easier. Not to mention, Kyle said I will get a nice little _bonus_ for deploying this before the weekend.

I mean, at this point I am still not processing any unicorn returns, but at least I got that nice deployment bonus of 5000 Points!

# This is not my final code.
I scraped this code together to get a quick deployment going for our lord Kyle. I mean, the guy has a serious issue with getting things done.

## 80's Games
Alexa, did I ever tell you I _LOVE_ 80s games? Like Contra, DigDug, SpaceInvaders... I have so many great memories about those games. Every time I type those words it makes me all warm and fuzzy. Not to mention, by giving my software pieces those names I screw with Kyle who's all about "being a 90's kid"...

<%= fortytwo %>
_<%= paperRoute %>_

## There might be some things I forgot.
The _Real Code_ in the repo I mentioned the other day might not be perfect. I think I might not be processing the rentals totally right every time. I'll double check and fix the code when I get back this weekend. For now, what's in there should be safe to run for the weekend. At least Kyle will be off my back.
</xmp>

<script type="text/javascript" src="strapdown.js"></script>
</html>
